.KBspacerDiv
{
/*	background-color: green;*/
	height: 32px;
	width: 100%;
}

#KBtoolbar 
{
	font-family: Helvetica, Arial;
	font-size: 16px;
	
	height: 32px;
	outline1: 1px solid blue;
	border-bottom: 1px solid darkGrey;
	background-color: lightgrey;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

#KBtoolbar #KBcollections
{
	outline1: 1px solid red;
	width: 60%;
	float: left;
	height: 32px;
	overflow: hidden;

}

#KBtoolbar .KBstar, #KBtoolbar .KBstarred, #KBtoolbar .KBannotate
{
	float: left;
	margin: 3px 5px;
	height: 25px;
	opacity:  0.4;
}

#KBtoolbar .KBstar:hover, #KBtoolbar .KBannotate:hover
{
	opacity:  1.0;
}

#KBtoolbar .KBstarred
{
	opacity: 1.0 !important;
}

#KBtoolbar #KBtags
{
	outline1: 1px solid green;		
	width: 35%;
	float: left;
	height: 32px;
	overflow: hidden;
	margin-left: 5%;
}

#KBtoolbar .KBlabel
{
	float: left;
	width1: 100px;
	outline1: 1px solid red;
	padding: 8px 8px;
	margin-right: 5px;
	
	height: 32px;
	background-color: darkGrey;
	color: white;
	font-weight: bold;
}

#KBtoolbar .KBsearch, #KBtoolbar .KBadd
{
	float: left;
	margin: 3px 0px;
	height: 25px;
}

#KBtoolbar input
{
	float: left;
	height: 20px;
	width: 100px;
	margin: 4px 0px;
	padding: 0px;
	padding-left: 7px;
	border: 1px solid grey;
	border-radius: 10px;
}

#KBtoolbar .KBitem
{
	float: left;
	margin: 7px 5px;
	
	font-size: 12px;
	padding: 2px 10px;
	border: 1px solid grey;
	border-radius: 10px;
}

#KBtoolbar .KBitem:hover, #KBtoolbar .KBselected
{
	background-color: darkGrey;
	color: white;
	-webkit-box-shadow: inset 0px 0px 2px #333;
	font-weight: bold;
	cursor: pointer;
}

#KBtoolbar .KBsearch, #KBtoolbar .KBadd
{
	margin-left: 5px;
	width: 30px;
	height: 25px;
	
	font-size: 12px;
	padding: 0px 5px 0px 0px;
	border: 1px solid grey;
	border-radius: 10px;
	
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

#KBtoolbar .KBexpanded
{
	width: 135px;
}

#KBtoolbar .KBsearch img, #KBtoolbar .KBadd img
{
	float: right;
	padding-top: 1px;
	outline1: 1px solid green;
}

#KBtoolbar .KBsearch input, #KBtoolbar .KBadd input
{
	border1: 1px solid blue;
	border1: 0px;
	padding1: 0px 6px;
	
	border: 0px;
	padding: 0px;
	margin: 0px;
	height: 25px;
	padding-left: 5px;
}
